@import './normalize';
@import './reset';
@import './fonts';
@import './vars';

body {
  color: #ffffff;
  font-family: $mainRegularFont;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.container {
  max-width: 350px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &__wrapper {
    margin-top: 100px;
    @media (max-width: 767px) {
      margin-top: 30px;
    }
  }
  &__heading {
    font-size: 3.6rem;
    text-align: center;
    font-family: $mainBoldFont;
    color: #2b2b2b;
  }
  &__search-panel {
    margin-top: 20px;
  }
}

.search-panel {
  position: relative;
  &__input {
    width: 350px;
    height: 40px;
    border-radius: 10px;
    padding: 0 56px 0 20px;
    font-size: 2.4rem;
    background-color: #000000;
    opacity: 0.6;
    color: #ffffff;
    &::placeholder {
      color: #ffffff;
    }
  }
  &__image {
    position: absolute;
    top: 12px;
    right: 20px;
    width: 16px;
    height: 16px;
  }
}

.weather-card {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 30px;
  .date-time {
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 350px;
    padding: 30px 30px 0 30px;
  }
  .weather-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .temperature {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .degrees {
      font-size: 4.8rem;
      font-weight: bold;
      position: relative;
      padding-right: 20px;
    }
    .description {
      margin-left: 20px;
      font-size: 2.4rem;
      font-weight: bold;
    }
  }
  .region {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 2.4rem;
    padding-bottom: 30px;
  }
}

.time-bold {
  font-size: 3.6rem;
  font-weight: bold;
}
